* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

#topo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    background-color: #8B0000; 
    color: white;
    padding: 20px 10%;
}

#topo #logo img {
    max-width: 100%;
    height: auto;
}

#topo #nome-empresa h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

#topo #nome-empresa p {
    font-size: 1.2rem;
    margin-top: 5px;
}

/* Menu de navegação */
#menu {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

#menu ul {
    list-style-type: none;
}

#menu ul li {
    display: inline;
    margin: 0 20px;
}

#menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

#menu ul li a:hover {
    color: #FFD700; /* Dourado */
}

/* Seção de Contato */
#contato {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px 10%;
    background-color: white;
    margin-bottom: 40px;
}

#contato h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.form-group {
    display: grid;
    gap: 10px;
}

.form-group label {
    font-size: 1.2rem;
}

.form-group input, .form-group textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

textarea {
    resize: vertical;
}

button {
    background-color: #8B0000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #B22222; /* Tom de vermelho mais claro */
}

/* Seção de Informações */
#informacoes {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 40px;
}

#informacoes h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

#informacoes p {
    font-size: 1.2rem;
}

/* Rodapé */
#fundo {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

#fundo p {
    font-size: 1rem;
}

/* Responsividade */
@media (max-width: 768px) {
    #topo {
        grid-template-columns: 1fr;
        text-align: center;
    }

    #menu ul li {
        display: block;
        margin-bottom: 10px;
    }

    #contato {
        padding: 20px 5%;
    }

    #informacoes {
        padding: 20px 5%;
    }

    button {
        width: 100%;
    }
}
